@charset "UTF-8";

.wrap {
  width: 100%;
  height:100%;
  text-align:center;
}

.hidden_box {
	width:460px;
}

.inner_wrap {
    display:inline-block;
}

.kakaoLogo {
	width: 350px;
	height: 50px;
}

.input_box_size {
	width:350px!important;
	height:40px!important;
}

.text_left {
	text-align:left;
}

.submit_btn {
	text-align:center;
}

.join-form-wrap .row .input-validation.error {
    background-position: 0 -100px;
}

.join-form-wrap .row .input-validation {
    position: absolute;
    top: 10px;
    right: 12px;
    display: block;
    margin: 0;
    width: 24px;
    height: 24px;
    background: url(https://image.thehyundai.com/hdmall/images/co/ic_check_validation.png) no-repeat 0 0;
    font-size: 0;
    line-height: 0;
    text-indent: 0;
}

/* 브랜드 로고 구독 */
.brand-image{
	overflow: hidden;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-left: 17px;
	/* box-shadow: 5px 5px 5px gray; */
	cursor: pointer;
}

.brand-image > img{
	object-fit: cover;
	width: 100px;
	height: 100px;
}

.brand-list{
	display: inline-block;
}

.brand-image:hover img{
  opacity: 0.2;
}

.subtextBox1{
	position: absolute;
	top:25px;
	padding-left:12px;
	opacity: 0; 
}

.subtextBox2{
	position: absolute;
	top:60px;
	padding-left:12px;
	opacity: 0; 
}

.brand-image:hover .subtextBox1{
  opacity: 1; 
}

.brand-image:hover .subtextBox2{
  opacity: 1; 
}

.brand_logo {
	overflow: hidden;
	width: 100px;
	margin-left: 17px;
	/* height: 100px; */
}

.brand_action1:hover {
	color:red;
}

.brand_action2 {
	color:black;
}

.brand_action2:hover {
	color:black;
}

.newstitle {
	font-size:16px;
}
.newscontent{
	font-size:14px;
}

#btnIdDupl {
	width : 80px;
	height:40px;
	border-radius:5%;
	background-color:#4a4747;
	color:white;
}

.joinBtn {
	width : 350px;
	height:50px;
	background-color:#4a4747;
	border-radius:1%;
	color:white;
}

#btnIdDupl:hover, .joinBtn:hover{
	background-color:#383636;
}

